@model HelperMethods.Models.User

@{
    /**/

    ViewBag.Title = "CreateUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Html.EnableClientValidation(false);
}

<h2>Создать пользователя</h2>
@using (Html.BeginRouteForm("FormRoute", null, FormMethod.Post,
    new { @class = "userCssClass", data_formType = "user" }))
{
    @Html.EditorForModel();
    <input type="submit" value="Отправить" />
}