@model HelperMethods.Models.User

@{
    ViewBag.Title = "CreateUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Создать пользователя</h2>
@using (Html.BeginRouteForm("FormRoute", null, FormMethod.Post,
    new { @class = "userCssClass", data_formType = "user" }))
{
    <div class="item">
        <label>UserId</label>
        @Html.TextBoxFor(user => user.UserId)
    </div>
    <div class="item">
        <label>Имя</label>
        @Html.TextBoxFor(user => user.FirstName)
    </div>
    <div class="item">
        <label>Фамилия</label>
        @Html.TextBoxFor(user => user.LastName)
    </div>
    <div class="item">
        <label>Роль</label>
        @Html.DropDownListFor(user => user.Role,
            new SelectList(Enum.GetNames(typeof(HelperMethods.Models.Role))))
    </div>
    <input type="submit" value="Отправить" />
}